services:
  db:
    image: postgres
    container_name: django_tenancy_db
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PORT: ${DB_PORT}
    ports:
      - ${DB_PORT}:5432
    
volumes:
  postgres_data: